section(class='section section--home')

  div(class='ranking')

    header(class='ranking__header')
      div(class='r-col')
        figure
          img(src='images/a-fazenda-logo.png', alt='A Fazenda')

      div(class='r-col')
        h3(class='r-col__title') Ranking

    ul(class='ranking__body')