// =========================================
// Variables -------------------------------

	// ------------------------------
	// Colors
	c-default   =			#FFFFFF
	c-black			=			#000000

	c-white			=			#F1F1F1
	c-gray			=			#8994A3

	// ------------------------------
	// Transition
	t-default 	=			all 250ms ease
	
	// -------------------------------------
	// Font
	font-1x			=			16px
	size-2x			=			32px
	size-3x			=			64px

	lato				=			'Lato', sans-serif

	// -------------------------------------
	// Breakpoints
	bp-mobile		=			320px
	bp-tablet		=			768px
	bp-notebook	=			1024px
	bp-desktop	=			1440px